body{

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorGeneral, .contenedorLogo, .botonComenzar, .titulo, .row{

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorGeneral{
    background-color: #16161a;
}

.contenedorLogo{

    flex-direction: column;
}

#botonComenzar{
    
    height: 5rem;
    width: 15rem;

    background-color: #7f5af0;
    color: #fffffe;

    font-size: 1.5rem;

    border-radius: 0.2rem;

	position: relative;
	padding: 1px;
	border-radius: 8px;
}

.titulo{

    height: 100%;
    width: 100%;

    background-image: url("../img/logo.png");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;

    margin-bottom: 5rem;

    font-weight: bold;
    font-size: 3rem;
}

#nombre{

    width: 50%;

}