body{

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorGeneral, .contenedorLogo, .botonComenzar, .titulo, .row{

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorLogo{

    background-color: lightgray;

    flex-direction: column;
}

#botonComenzar{
    
    height: 2rem;
    width: 10rem;

    background-color: grey;

    border-radius: 2rem;
}

.titulo{

    height: 10rem;
    width: 20rem;

    background-color: gray;

    margin-bottom: 5rem;

    font-weight: bold;
    font-size: 3rem;
}

#nombre{

    width: 50%;

}