body{

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorGeneral, .contenedorLogo, .botonComenzar, .titulo, .row, #dificultad label, .contenedorColorPicker{

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorGeneral{
    background-color: #16161a;
}

.contenedorLogo{

    flex-direction: column;
}

#botonComenzar{
    
    height: 5rem;
    width: 15rem;

    background-color: #7f5af0;
    color: #fffffe;

    font-size: 1.5rem;

    border-radius: 0.2rem;

	position: relative;
	padding: 1px;
	border-radius: 8px;

    user-select: none;
}

#botonComenzar:hover{
    background-color: #5c3bc0;
    box-shadow: inset #3a2380 0px -5px;
}

#botonComenzar:active{
    background-color: #5c3bc0;
    box-shadow: inset #3a2380 0px 5px;
}

/* #dificultad label{
    height: 4rem;
    width: 2rem;

    margin-left: 2rem;

    background-color: #7f5af0;
    color: #fffffe;

    font-size: 1.5rem;

    border-radius: 0.2rem;

	position: relative;
	padding: 1px;
	border-radius: 8px;

    user-select: none;
} */

/* #dificultad label:hover{
    background-color: #5c3bc0;
    box-shadow: inset #3a2380 0px -5px;
}

#dificultad label:active{
    background-color: #5c3bc0;
    box-shadow: inset #3a2380 0px 5px;
} */

.titulo{

    height: 100%;
    width: 100%;

    background-image: url("../img/logo.png");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;

    /* margin-bottom: 5rem; */

    font-weight: bold;
    font-size: 3rem;
}

#nombre{

    width: 20%;
    height: 30%;

    border-radius: 1rem;

    box-shadow: #16161a 0px -5px;
}

.contenedorColorPicker{

    margin-top: 2rem;

}

.contenedorColorPicker input{

    height: 4rem;
    width: 4rem;
}

#mostrarColor1, #mostrarColor2, #mostrarColor3, #mostrarColor4{

    height: 4rem;
    width: 4rem;

    border-radius: 50%;

}

.contenedorColores{
    display: flex;
    flex-direction: row;
}

#color1, #color2, #color3, #color4{
    height: 5rem;
    width: 5rem;

    margin: 2rem;

    border: 1px solid #7f5af0;
}

#mostrarNombre, #mostrarColor1, #mostrarColor2, #mostrarColor3, #mostrarColor4{

    width: 20%;
    height: 100%;

}